localdockerbuild/.vagrant/machines/default/docker/creator_uid
localdockerbuild/.vagrant/machines/default/docker/id
localdockerbuild/.vagrant/machines/default/docker/index_uuid
localdockerbuild/.vagrant/machines/default/docker/vagrant_cwd
localdockerbuild/.vagrant/rgloader/loader.rb